button {
    height: 62px;
    width: 150px;
}

body {
    background-image: url(../images/2640074-autumn-4k-wallpaper-image-free-download.jpg);
    background-repeat: round;
    background-size: 100%;
}

h1 {
    font-family: 'Patua One', cursive;
}

h3 {
    font-family: 'Dancing Script', cursive;
}

.tFrame {
    font-family: 'Patua One', cursive;
    text-align: center;
}

.sBtn {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

#date {
    font-family: 'Dancing Script', cursive;
}