button {
    height: 62px;
    width: 150px;
}

body {
    background-image: url(../images/chevron-hand-drawn-pattern-with-continuous-stripes-triangle-background-png_94613.jpg);
    background-repeat: repeat;
    background-size: 100%;
}